/*Header*/
body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    max-width: 1920px;
    box-sizing: border-box;
}

.header {
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    
}

/*Body*/
.calculadora-principal{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width:65%;
    height: 500px;
    gap: 20px;
}

.calculadora-esquerda {
    width: 50%;
    margin: 3%;
    padding: 25px;
    border-radius: 20px;
    
}
.area-conta input{
    background-image: url('images/icon-dollar.svg'); 
    background-repeat:no-repeat;
    background-position: cover;
    text-align: end;
    border: none;
    height: 55px;
    width: 100%;
    justify-items: center;
    gap: 40px;
}

.area-gorjeta {
    margin-bottom: 30px;
}

.titulo-campos {
    color: hsl(186, 14%, 43%);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.opcoes-de-calculo{
    display: grid;
    grid-template-columns: auto auto auto;
}

button, .opcoes-de-calculo input{
    max-width:50px ;
    margin: 5px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.area-pessoas input{
    background-image: url('images/icon-person.svg');
    background-repeat:no-repeat;
    background-position: cover;
    text-align: end;
    border: none;
    height: 55px;
    width: 100%;
}


.calculadora-direita{
    background: hsl(183, 100%, 15%);
    width:50%;
    border-radius: 20px;
    margin: 3%;
    padding: 25px;
}

.area-resultado{
    display:flex;
    font-size: 0.9rem;
    margin-bottom: 20%;
}

.area-resultado h2 {
    color: hsl(0, 0%, 100%);
}

.area-resultado p {
    color: hsl(185, 41%, 84%);
}

.resultados {
    height: 350px;
}

.secundario-resultado {
    color: hsl(185, 41%, 84%);
    padding-left: 30px;
}

.numero-resultado {
    color: hsl(172, 67%, 45%);
    font-size: 2.5rem;
    margin-left: auto;
}

.botao-reset {
    background-color: rgba(84, 221, 226, 0.219);
    width: 100%;
    font-size: 1.1rem;
    border: none;
    letter-spacing: normal;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}

/*footer*/
.rodape { 
    font-size: 11px; text-align: center;
    padding: 40px 0 40px 0;
 }
.rodape a { 
    color: hsl(228, 45%, 44%);
    font-weight: bold;
 }
