/*Header*/
body {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    background-color: hsl(185, 41%, 84%);
    max-width: 1920px;
    box-sizing: border-box;
}

.header {
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    
}

/*Body*/
.calculadora-principal{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width:65%;
    height: 500px;
    gap: 20px;
}

.calculadora-esquerda {
    width: 50%;
    margin: 3%;
    padding: 25px;
    border-radius: 20px;
    
}

.area-conta {
    margin-top: 20px;
    gap: 40px;
}

.input-box {
    display: flex;
    gap: 10px;
    background-color: hsl(189, 41%, 97%);
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.input-box img {
    height: 25px;
    width: 25px;
}

.area-conta .input-box input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 100%;
    background: transparent;
    height: 100%;
}

.titulo-campos {
    color: hsl(186, 14%, 43%);
    font-weight: bold;
    font-size: 1.1rem;
    
}

.area-gorjeta {
    margin: 35px 0;
}

.opcoes-de-calculo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    gap: 15px;
}

.opcoes-de-calculo button, .opcoes-de-calculo input {
    padding: 15px 0;
    width: 100%;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;
}

.porcentagem-personalizado {
    text-align: center;
}

.porcentagem-personalizado::placeholder {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.opcoes-de-calculo input:focus {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.calculadora-direita{
    background: hsl(183, 100%, 15%);
    width:50%;
    border-radius: 20px;
    margin: 3%;
    padding: 25px;
}

.area-resultado{
    display:flex;
    font-size: 0.9rem;
    margin-bottom: 20%;
}

.area-resultado h2 {
    color: hsl(0, 0%, 100%);
}

.area-resultado p {
    color: hsl(185, 41%, 84%);
}

.resultados {
    height: 350px;
}

.secundario-resultado {
    color: hsl(185, 41%, 84%);
    padding-left: 30px;
}

.numero-resultado-gorjeta {
    color: hsl(172, 67%, 45%);
    font-size: 2.5rem;
    margin-left: auto;
}

.numero-resultado {
    color: hsl(172, 67%, 45%);
    font-size: 2.5rem;
    margin-left: auto;
}

.botao-reset button {
    background-color: rgba(84, 221, 226, 0.219);
    width: 100%;
    font-size: 1.1rem;
    border: none;
    letter-spacing: normal;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.botao-reset button:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

/*footer*/
.rodape { 
    font-size: 11px; text-align: center;
    padding: 40px 0 40px 0;
 }
.rodape a { 
    color: hsl(228, 45%, 44%);
    font-weight: bold;
 }
